input {
	keyboard {
		xkb {
			layout "us"
		}
	}
	touchpad {
		tap
		natural-scroll
	}
}

output "Red Hat, Inc. QEMU Monitor Unknown" {
	scale 1
	mode "1920x1080@60.000"
}

window-rule {
    open-fullscreen         false
    open-maximized          false
    open-maximized-to-edges false
}

spawn-at-startup "waybar"
spawn-at-startup "swaybg" "-i" "~/.local/share/wallpaper/default.png" "-m" "fill"

binds {
	Mod+T { spawn "alacritty"; }
	Mod+B { spawn "google-chrome-stable"; }

	Mod+Left  { focus-column-left; }
	Mod+Right { focus-column-right; }
	Mod+TouchpadScrollRight { focus-column-right; }
	Mod+TouchpadScrollLeft  { focus-column-left; }
}
